/* 
 *  Fonction de converstion des px en em.
 */
@function pem($pxval, $base: 16) {
    @return #{$pxval / $base}em;
}

// Variable de couleur
$bordeau: #8f0f3c;
$vert_clair: #8fbe44;
$vert_fonce: #739f2a;
$noir: #1b2112;
$bordure_bloc: #dedede;
$gris: #f0f0f0;
$gris_fonce: #717171;

// On sauvegarde le padding de foundation
$padding: 0.9375em;

// Font face
@font-face {
    font-family: 'titillium_bold';
    src: url('fonts/titilliumweb-bold-webfont.eot');
    src: url('fonts/titilliumweb-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/titilliumweb-bold-webfont.woff') format('woff'),
         url('fonts/titilliumweb-bold-webfont.ttf') format('truetype'),
         url('fonts/titilliumweb-bold-webfont.svg#titillium_webbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'titillium';
    src: url('fonts/titilliumweb-regular-webfont.eot');
    src: url('fonts/titilliumweb-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/titilliumweb-regular-webfont.woff') format('woff'),
         url('fonts/titilliumweb-regular-webfont.ttf') format('truetype'),
         url('fonts/titilliumweb-regular-webfont.svg#titillium_webregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'titillium_light';
    src: url('fonts/titilliumweb-light-webfont.eot');
    src: url('fonts/titilliumweb-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/titilliumweb-light-webfont.woff') format('woff'),
         url('fonts/titilliumweb-light-webfont.ttf') format('truetype'),
         url('fonts/titilliumweb-light-webfont: .svg transparent;itillium_weblight') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'titillium_light_italic';
    src: url('fonts/titilliumweb-lightitalic-webfont.eot');
    src: url('fonts/titilliumweb-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/titilliumweb-lightitalic-webfont.woff') format('woff'),
         url('fonts/titilliumweb-lightitalic-webfont.ttf') format('truetype'),
         url('fonts/titilliumweb-lightitalic-webfont.svg#titillium_weblight_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}


body {
    background: #f4f3f0 url(images/background_body.png);
    font-family: arial;
    color: $gris_fonce;
}

// Mise en page des ul de base
ul {
    list-style: none;
}

// On vire le underline une bonne fois pour toute.
a:hover {
    text-decoration: none;
}

// On reset titre par défaut mis par foundation
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    line-height: normal;
    font-weight: normal;
    margin:0;
}

// La page en elle même.
#page {
    width: 1012px;
    border: none;
    margin-top: 0;
    margin-bottom: 0;

    #entete {
        border: none;
        background: #FFF;
        padding: 0;
        margin: 0;
        padding-bottom: 10px;
        border-bottom: 1px solid $bordure_bloc;

        .spip_logos {
            margin-top: 35px;
        }

        ul.menu_superieur {
            text-align: right;

            li {
                display: inline;
                
                a {
                    color: #959595;
                    
                    &:hover {
                        color: $bordeau;
                    }
                }
            }
        }

        .social {
            float: right;
            li {
                float: left;
                a {
                    display: block;
                    width: 42px;
                    height: 42px;
                    background: $vert_clair;
                    
                    &:hover {
                        background: $vert_fonce;
                    }
                }

                &.rechercher {
                    background: $noir;
                    height: 42px;
                    padding-left: 16px;
                    padding-right: 16px;
                    display: table;

                    font-size: pem(10);
                    color: #f5f5f4;
                    font-family: titillium;
                    text-transform: uppercase;
                    
                    span {
                        display: table-cell;
                        vertical-align: middle;
                    }
                }

                #formulaire_recherche {
                    input.search {
                        float: left;
                        background: $gris;
                        border: none;
                        height: 42px;
                        width: 248px;
                    }
                    input.submit {
                        float: left;
                        display: block;
                        background: #f0f0f0 url(images/recheche.png) no-repeat center;
                        border: none;
                        height: 42px;
                        width: 42px;
                    }
                }
            }
        }
        
        ul.menu_principal {
            text-align: right;
            margin-top: 25px;
            margin-bottom: 0;
            text-transform: uppercase;

            li {
                display: inline;
                margin-left: 35px;

                a {
                    color: $noir;
                    
                    &:hover {
                        color: $vert_clair;
                    }
                }
            }
        }
    }
    
    #billetterie {
        text-align: right;
        margin-top: 15px;
        
        p {
            color: $bordeau;
            
            span {
                color: $vert_clair;
                
                a {
                    color: $vert_clair;
                    &:hover {
                        color: $vert_fonce;
                    }
                }
            }
        }
    }
    
    #ariane {
        width: 100%;
        height: 42px;
        background: #FFF;
        border-bottom: 1px solid $bordure_bloc;
        
        #hierarchie {
            display: table;
            
            .logo_ariane {
                padding-left: 10px;
                width: 66px;
                height: 42px;
                display: table-cell;
                vertical-align: middle;
                
                background: url(images/separateur_ariane.png) no-repeat right top;
            }
            
            .fil {
                padding-left: 15px;
                display: table-cell;
                vertical-align: middle;
            }
        }
        
    }

    #conteneur {
        margin-top: 15px;
        
        #contenu-principal {
            background: #FFF;
            border-bottom: 1px solid $bordure_bloc;
            padding-top: 30px;
            
            // Mise en page des titres
            h1, h2, h3, h4, h5, h6 {
                font-family: titillium_bold;
            }

            h1 {
                font-size: pem(26);
            }

            h2 {
                font-size: pem(20);
            }

            h3 {
                font-size: pem(16);
            }

            a, a.spip_in, a.spip_out {
                color: $bordeau;
                text-decoration: underline;
            }

            .chapo {
                font-family: titillium_light_italic;
                color: $bordeau;
                p {
                    line-height: 1.2;
                    font-size: pem(18);
                }
            }

            p {
                font-size: pem(12);
            }

            .bordure_banniere {
                background: #edf4f1;
                width: 703px;
                padding: 5px;
            }

            // On va définir la mise en page des listes.
            $marge_liste: 30px;
            ul {
                list-style: circle;
                margin-left: $marge_liste;

                li {
                    font-size: pem(12);
                }
            }
            
            ol {
                margin-left: $marge_liste;
                
                li {
                    font-size: pem(12);
                }
            }
        }
        
        #sidebar {
    
            // On va virer le padding right sur ce bloc si. Cela permet un aligment parfait de la partie blanche.
            &.columns {
                padding-right: 0;
            }
            
            .bloc_sidebar {
                background: #FFF;
                border-bottom: 1px solid $bordure_bloc;
                
                .newsletter_image {
                    background: url(images/newsletter_inscription.png) no-repeat center;
                    width: 228px;
                    height: 122px;
                    text-align: center;
                    margin-bottom: 20px;

                    h2 {
                        font-family: titillium_bold;
                        font-size: pem(24);
                        color: $noir;
                        padding-top: 9px;
                        margin: 0;
                    }

                    h3 {
                        font-family: titillium_light;
                        color: #FFF;
                        font-size: pem(21);
                    }
                }
                
                p {
                    padding-left: 20px;
                    padding-right: 20px;
                    font-size: pem(12);
                }
                
                .formulaire_spip {
                    ul li {
                        padding: 0;
                    }
                
                }

                // Mise en page du formulaire de la newsletter.
                .formulaire_newsletter {
                    padding-left: 20px;
                    padding-right: 20px;
                    
                    input.text {
                        width: 208px;
                        height: 42px;
                        background: $gris;
                        border: none;
                        font-family: titillium;
                        font-size: pem(14);
                        padding-left: 20px;
                        color: #959595;
                    }
                    p.bouton {
                        margin: 0;
                        padding: 0;
                        text-align: left;
                    }
                    input.submit {
                        background: $vert_fonce;
                        border: none;
                        box-shadow: none;
                        font-family: titillium_bold;
                        font-size: pem(14);
                        text-transform: uppercase;
                    }
                }
            }
            .voir_aussi {
                h2 {
                    color: $vert_fonce;
                    font-family: titillium_bold;
                    font-size: pem(24);
                    border-bottom: 1px dotted $gris_fonce; 
                }
                li {
                    line-height: 1.2;
                    a {
                        color: $gris_fonce;
                        font-family: titillium;
                        font-size: pem(12);
                        
                        &:hover {
                            color: $bordeau;
                        }
                    }
                }
            }
        }
    }

    footer {
        div#footer {
            margin-top: 30px;
            background: #FFF;
            border-bottom: 1px solid $bordure_bloc;
            padding-top: 24px;
            position: relative;
            
            .footer_lien {
                h3 {
                    color: $bordeau;
                    font-size: pem(18);
                    font-family: titillium_bold;
                    border-bottom: 1px dotted $gris_fonce;
                    width: auto;
                    display: inline;
                }

                li {
                    line-height: 1.2;
                    a {
                        color: $gris_fonce;
                        font-family: titillium;
                        font-size: pem(12);
                        
                        &:hover {
                            color: $bordeau;
                        }
                    }
                }
            }
            
            .logo_footer {
                position: absolute;
                right: 0;
                bottom: -58px;
            }

            .adresse {
                text-align: right;
                h3 {
                    font-size: pem(18);
                    color: $vert_clair;
                    font-family: titillium_bold;
                }
                p {
                    font-size: pem(12);
                }
            }
        }
    }
    #pied {
        text-align: left;
        border: none;
        background: none;
        
        .copyright {
            padding: $padding;
        }
    }
}